*{
    margin:0; 
    padding: 0%;
    box-sizing: border-box;
    
}
.body{
    background-image:url(IMAGENES/Central/imagenCentral.jpg);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /*padding: 20px 30px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body p{
    margin-bottom: 10px;
}
.bsd{
    margin-bottom: 10px;
    font-size: 5px;
    color: darksalmon; 
}
header{/*
    background-color:white;
    opacity:30%;*/
    height: 80px;
}

.header-cel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:10px;
 }
 /* como cambiar color y ajustar tamano al logo?
 .header-cel img{
    color: darksalmon;
 }*/
    
.menu-hamburguer{
    color:/*black;rosybrown;*/ white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

ul {
    display: none;
}
/*****************************************************************/
.principal{
    margin:0px 40px 80px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    }
    .principal h1{
        margin-bottom: 20px;
       /* text-align: center;*/
    }
    .principal p{
        margin-bottom: 20px;
    }
    .principal button{
        /*margin-bottom: 20px;*/
        margin-top: 30px;
        width: max-content;
        padding: 15px 20px;
        align-self:center; /*flex-end para dekstop;*/
        border-radius: 25px; 
        background-color:black;
        opacity: 40%;
        color: white;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

 .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }

article, .articulo-destacado{
    width: 100%;
    height: 100vh;
    /*padding-bottom: 20px;*/
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    border-bottom: 5px solid darksalmon;

}


article img {
    width: 100%;
/*   height:100%;*/
}
.detallesProducto, .detallesProductoDestacado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:center;
    /*background-color: black;*/
    color: darksalmon;
    height: 50%;
}


.tituloProducto{
    background-color: rgb(88, 87, 87);
    color: darksalmon;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    border-bottom: 5px solid darksalmon;
}

.masInfo{
    width: max-content;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
    border-color:darksalmon ;
    color: darksalmon;
    background-color: black;
}

.nombreProducto, .descripcion, .presentacion, .nombreProductoDestacado, .descripcionDestacado, .presentacionDestacado{
    margin-top:20px ;
}
.descripcion, .descripcionDestacado{
    color: white;
}
.presentacion, .presentacionDestacado{
    font-weight: bold;
}

/*solo para producto destacado alfajores de maicena*/

.articulo-destacado{
    background-color:  rgb(171, 146, 106);
    align-items: center;
    
}
.nombreProductoDestacado, .presentacionDestacado{
    color: rgb(106, 84, 50) ;
}
.imagenProductoDestacado{
    width: 70%;
    /*height: 50%;*/
    margin-top: 30px;
}

/****************************************/

@media(min-width:480px){
    header{
        background-color:transparent;
    
    }
    .header-cel{
        display: none;
    }
    ul{
        display:flex;
        flex-direction: row;
        justify-content:center;
        padding-top: 30px;
    }
    
    li{
     list-style: none;   
     margin-right: 20px;
    }

    a{
        text-decoration-line: none;
        color: white;
        font-weight: bold;
    }

    ul :nth-child(1){
        margin-left: 20px;
    }

    ul img{
        position: relative;
        bottom: 30px; 
    }
     }
    @media(min-width:769px){ 
    .principal{
        align-self: flex-end;
        flex-wrap: wrap;
        align-items: center;
         max-width:40%;  
        padding-bottom: 20px;
    }
article, .articulo-destacado{
    flex-direction: row;
    height: 50%;
}
/*********como selecciono los articulos pares unicamente?********/
/*.productos :nth-child(){
    background-color: aquamarine;
}*/
.articuloImpar, .articulo-destacado{
flex-direction: row-reverse;
}
article img {
    width: 50%;
    height: 100%;
 
}
.detallesProducto{
    width: 50%;
    /*height: auto;*/
}

.imagenProductoDestacado{
    width: 80%;
    text-align: center;
    margin-bottom:30px;
    margin-right: 0%;
     }
     .detallesProductoDestacado{
        text-align: center;
        padding-right: 70px;
     }
 .detallesProducto{
    align-self: center;
 }   
}







/********corregirrrrr*/
/*
imagenes de productios no ocupan el largo completo del article
imagen de alfajores de maicena se desborda de la cja a medida que la pantalla se agranda
como seleccionar los articulos pares para cambiarles la direccion 
el articulo destacado ocupa demasiado espacio