
*{
    margin:0; 
    padding: 0%;
    box-sizing: border-box;
    
}


.body{
    /*background-color:grey;*/
   background-image: url(IMAGENES/Central/imagenCentral.png);
  background-repeat: no-repeat;
  background-size:contain;
    height:100vw; 
    width: 100%;
    padding: 50px;
}

ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

li{
 list-style: none;   
}
a{
    text-decoration-line: none;
    color: white;
}

.principal{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    /*justify-content:space-around;*/
    align-items: center;
     max-width:40%;  
   /*height: 100vw;*/
    /*padding-top: 50px;  */
    /*margin-top: 60px;*/
    margin-right: auto;
    margin-left: 60%;
    color: white;
}
p{
    margin-top: 30px;
}

.conocenos{
    border-radius: 25px; 
    padding: 20px 50px;
    background-color:black;
    opacity: 40%;
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

.tituloProducto{
    background-color: grey;
    height: 80px; ;
    color:darksalmon;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}