*{
    margin:0; 
    padding: 0%;
    box-sizing: border-box;
    
}
.body{
    background-image:url(IMAGENES/Central/imagenCentral.png);
    background-size:cover;
    padding: 30px;
}
.body p{
    margin-bottom: 10px;
}
.header-cel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

ul {
    display: none;
}
.principal{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    }
    .principal h1{
        margin-bottom: 20px;
    }
    .principal p{
        margin-bottom: 20px;
    }
    .principal button{
        margin-bottom: 20px;
        width: max-content;
    padding: 10px 15px;
    align-self:flex-end ;
    }

 .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
 }
article{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
}
article img{
    width: 100%;
    height: 50%;
 
}
.detallesProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align:center;
    /*background-color: black;*/
    color: white;
}

.tituloProducto{
    background-color: grey;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.masInfo{
    width: max-content;
    padding: 10px 10px;
    margin-top: 20px;
    align-self: center;
}

.nombreProducto, .descripcion, .presentacion{
    margin-top:20px ;
}